<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="index">
        <img src="assets/img/spotright.png" class="logo">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="index">List</a>
        </li>
        <li ui-sref-active="active">
          <a href="#">New</a>
        </li>
      </ul>

  </div>
</nav>
