{
  "env": {
    "browser": true,
    "node": false,
    "commonjs": true,
    "jasmine": true,
    "phantomjs": true,
    "protractor": true
  },
  "globals": {
    "isDev": true,
    "isTest": true,
    "isProd": true
  },
  "rules": {}
}
